<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de jogos</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

<div class="grid grid-cols-3 grid-rows-2 h-screen w-screen gap-4 p-10 bg-black">

    <div>
        <a href="/run/snake"
           class=" relative bg-[url('static/Snake.png')] bg-cover bg-center w-full h-full transition-transform duration-300 hover:scale-105 flex items-center justify-center text-xl font-bold rounded-xl shadow-md cursor-pointer">
            <div class="bg-black text-white rounded-md p-2 absolute bottom-4 right-4">Cobrinha</div>
        </a>
    </div>
    <div>
        <a href="/run/tetris"
           class=" relative bg-[url('static/tetris.png')] bg-cover bg-center w-full h-full transition-transform duration-300 hover:scale-105 flex items-center justify-center text-xl font-bold rounded-xl shadow-md cursor-pointer">
            <div class="bg-black text-white rounded-md p-2  absolute bottom-4 right-4">Tetris</div>
        </a>
    </div>
    <div>
        <a href="/run/breaker"
           class=" relative bg-[url('static/breaker.png')] bg-cover bg-center w-full h-full transition-transform duration-300 hover:scale-105 flex items-center justify-center text-xl font-bold rounded-xl shadow-md cursor-pointer">
            <div class="bg-black text-white rounded-md p-2  absolute bottom-4 right-4">Bricks Breaker</div>
        </a>
    </div>
    <div>
        <a href="/run/space"
           class=" relative bg-[url('static/space.png')] bg-cover bg-center w-full h-full transition-transform duration-300 hover:scale-105 flex items-center justify-center text-xl font-bold rounded-xl shadow-md cursor-pointer">
            <div class="bg-black text-white rounded-md p-2  absolute bottom-4 right-4 ">Space Invaders</div>
        </a>
    </div>
    <div>
        <a href="/run/esquiva"
           class=" relative bg-[url('static/esquiva.png')] bg-cover bg-center w-full h-full transition-transform duration-300 hover:scale-105 flex items-center justify-center text-xl font-bold rounded-xl shadow-md cursor-pointer">
            <div class="bg-black text-white rounded-md p-2  absolute bottom-4 right-4">Jogo de esquiva</div>
        </a>
    </div>
    <div>
        <a href="/run/velha"
           class=" relative bg-[url('static/velha.jpg')] bg-cover bg-center w-full h-full transition-transform duration-300 hover:scale-105 flex items-center justify-center text-xl font-bold rounded-xl shadow-md cursor-pointer">
            <div class="bg-black text-white rounded-md p-2  absolute bottom-4 right-4">Jogo da Velha</div>
        </a>
    </div>
</div>
</body>
</html>

